<table
  class="table table-bordered border-primary table-hover"
  style="text-align: center"
>
  <thead class="table-primary">
    <th>제목</th>
    <th>페이지당 글 수</th>
    <th>설명</th>
    <th>일반 사용자 쓰기</th>
    <th>댓글</th>
    <th colspan="2"></th>
  </thead>
  <% if (types.length > 0) { %>
  <!-- 데이터가 있을 경우 -->
  <% for (let i = 0; i < types.length; i++) { %>
  <tr>
    <td><%= types[i].title %></td>
    <td><%= types[i].numPerPage %></td>
    <td><%= types[i].description %></td>
    <td><%= types[i].write_YN %></td>
    <td><%= types[i].re_YN %></td>
    <td><a href="/board/type/update/<%=types[i].type_id%>">수정</a></td>
    <td>
      <a
        href="/board/type/delete/<%=types[i].type_id%>"
        onclick="if(confirm('정말로 삭제하시겠습니까?')==false) return false"
        >삭제</a
      >
    </td>
  </tr>

  <% } %> <% } else { %>
  <!-- 데이터가 없을 경우 -->
  <p>자료가 없으니 게시판 종류 추가 버튼으로 코드를 추가해 주십시오.</p>
  <% } %>
</table>

<a href="/board/type/create"
  ><button class="btn btn-outline-secondary btn-sm" type="submit">
    게시판 종류 추가
  </button></a
>
